.footer-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    width: 90%;
    max-width: 360px;
    position: absolute;
    bottom: 2.5rem;
    left: 18px;
}

.footer-btn {
    font-size: 25px;
    text-decoration: none;
    color: white;
}

.selected {
    text-shadow: -1px 2px 59px 22px rgba(255,255,255,0.75);
}