.App {
    color: white;
    text-align: center;
    position: relative;
    margin: 0 auto;
    width: 360px;
    height: 800px;
    margin-top: 3rem;
    background-image: linear-gradient(
        to right top,
        #050257,
        #26003f,
        #2a002a,
        #26001b,
        #1d000f,
        #190513,
        #160a14,
        #130e14,
        #151720,
        #0f202b,
        #012931,
        #00322f
    );

    border-radius: 2rem;
}

@media (max-width: 400px) {
    .App {
        text-align: center;
        position: relative;
        margin: 0 auto;
        width: 100%;
        min-height: 800px;
        background-image: linear-gradient(
            to right top,
            #050257,
            #26003f,
            #2a002a,
            #26001b,
            #1d000f,
            #190513,
            #160a14,
            #130e14,
            #151720,
            #0f202b,
            #012931,
            #00322f
        );
        border-radius: 0;
    }
}
